<article class="post">
  <header class="post-header">
    <em class="post-meta">
      <time>{{ post.date | date: "%b %-d, %Y" }}</time>
    </em>
    <h1 class="post-title preview">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h1>
  </header>
  <figure class="post-thumbnail {% if post.image %}{% else %}no-image{% endif %}">
    <a href="{{ post.url | prepend: site.baseurl }}">
      {% if post.image %}
        <img src="{{ post.image }}" alt="{{ post.title }}">
      {% endif %}
    </a>
  </figure>
  <div class="post-content">
    <p><a href="{{ post.url | prepend: site.baseurl }}" title="Permalink to: {{ post.title }}">{{ post.content | strip_html | truncatewords: 60 }} <span class="read-more">[read more]</span></a></p>
  </div>
</article>
