<article class="post grid">
  <div class="post-left-side">
    <figure class="post-thumbnail {% if post.image %}{% else %}no-image{% endif %}">
      <a href="{{ post.url | prepend: site.baseurl }}">
        {% if post.image %}
          <img src="{{ post.image }}" alt="{{ post.title }}">
        {% endif %}
      </a>
    </figure>
  </div>
  <div class="post-right-side">
    <header class="post-header">
      <h1 class="post-title preview">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h1>
      <span class="post-meta">
        <time>{{ post.date | date: "%b %-d, %Y" }}</time>
      </span>
    </header>
    <div class="post-content">
      <p>
        <p>{{ post.content | strip_html | truncatewords: 100 }}</p>
        {% if post.linktype == 'pdf' %}
          <a href="{{ post.url | prepend: site.baseurl }}" title="Permalink to: {{ post.title }}">
            <span class="read-more">PDF</span>
          </a>
        {% else %}
          <a href="{{ post.url | prepend: site.baseurl }}" title="Permalink to: {{ post.title }}">
            <span class="read-more">Read more »</span>
          </a>
        {% endif %}
        {% if post.github %}
          <a href="{{ post.github}}" class="github-link" title="Link to Github page">
            <img src="/images/github32.png" alt="Github logo">
          </a>
        {% endif %}
      </p>
    </div>
  </div>
</article>
